目标：探究用户对物品类别的喜好细分

流程：
1. 获取数据
2. 合并表
3. 找到user_id和aisle_id之间的关系
4. PCA降维

In [2]:
import pandas as pd
import numpy as np

1. 获取数据

In [4]:
aisles = pd.read_csv("./datasets/instacart/aisles.csv")
deps = pd.read_csv("./datasets/instacart/departments.csv")
order_products_prior = pd.read_csv("./datasets/instacart/order_products__prior.csv")
order_products_train = pd.read_csv("./datasets/instacart/order_products__train.csv")
order = pd.read_csv("./datasets/instacart/orders.csv")
prods = pd.read_csv("./datasets/instacart/products.csv")
sample_sub = pd.read_csv("./datasets/instacart/sample_submission.csv")

     aisle_id                       aisle
0           1       prepared soups salads
1           2           specialty cheeses
2           3         energy granola bars
3           4               instant foods
4           5  marinades meat preparation
..        ...                         ...
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes

[134 rows x 2 columns]
    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing
          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]
         order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
...           ...         ...                ...        ...
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns]
         order_id  user_id eval_set  order_number  order_dow  \
0         2539329        1    prior             1          2
1         2398795        1    prior             2          3
2          473747        1    prior             3          3
3         2254736        1    prior             4          4
4          431534        1    prior             5          4
...           ...      ...      ...           ...        ...
3421078   2266710   206209    prior            10          5
3421079   1854736   206209    prior            11          4
3421080    626363   206209    prior            12          1
3421081   2977660   206209    prior            13          1
3421082    272231   206209    train            14          6

         order_hour_of_day  days_since_prior_order
0                        8                     NaN
1                        7                    15.0
2                       12                    21.0
3                        7                    29.0
4                       15                    28.0
...                    ...                     ...
3421078                 18                    29.0
3421079                 10                    30.0
3421080                 12                    18.0
3421081                 12                     7.0
3421082                 14                    30.0

[3421083 rows x 7 columns]
       product_id                                       product_name  \
0               1                         Chocolate Sandwich Cookies
1               2                                   All-Seasons Salt
2               3               Robust Golden Unsweetened Oolong Tea
3               4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               5                          Green Chile Anytime Sauce
...           ...                                                ...
49683       49684          Vodka, Triple Distilled, Twist of Vanilla
49684       49685                 En Croute Roast Hazelnut Cranberry
49685       49686                                   Artisan Baguette
49686       49687         Smartblend Healthy Metabolism Dry Cat Food
49687       49688                             Fresh Foaming Cleanser

       aisle_id  department_id
0            61             19
1           104             13
2            94              7
3            38              1
4             5             13
...         ...            ...
49683       124              5
49684        42              1
49685       112              3
49686        41              8
49687        73             11

[49688 rows x 4 columns]
       order_id     products
0            17  39276 29259
1            34  39276 29259
2           137  39276 29259
3           182  39276 29259
4           257  39276 29259
...         ...          ...
74995   3420740  39276 29259
74996   3420877  39276 29259
74997   3420888  39276 29259
74998   3420989  39276 29259
74999   3421054  39276 29259

[75000 rows x 2 columns]

展示数据

In [11]:
print("aisles:\n", aisles.head())
print("deps:\n", deps.head())
print("order_products_prior:\n", order_products_prior.head())
print("order_products_train:\n", order_products_train.head())
print("order:\n", order.head())
print("prods:\n", prods.head())
print("sample_sub:\n", sample_sub.head())

aisles:
    aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation
deps:
    department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol
order_products_prior:
    order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
order_products_train:
    order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1
order:
    order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2398795        1    prior             2          3                  7
2    473747        1    prior             3          3                 12
3   2254736        1    prior             4          4                  7
4    431534        1    prior             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0
prods:
    product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13
sample_sub:
    order_id     products
0        17  39276 29259
1        34  39276 29259
2       137  39276 29259
3       182  39276 29259
4       257  39276 29259

合并表
1. aisles & prods -> tab1 (aisle_id)
2. tab1 & order_products -> tab2 (product_id)
3. tab2 & order -> res (order_id)

In [16]:
tab1 = pd.merge(aisles, prods, how="inner", on=["aisle_id", "aisle_id"])
tab2 = pd.merge(tab1, order_products_prior, how="inner", on=["product_id", "product_id"])
tab3 = pd.merge(tab2, order, how="inner", on=["order_id", "order_id"])

In [17]:
tab3.head()

,aisle_id,aisle,product_id,product_name,department_id,order_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,prepared soups salads,209,Italian Pasta Salad,20,94246,5,0,114082,prior,26,0,20,1.0
1,1,prepared soups salads,22853,Pesto Pasta Salad,20,94246,4,0,114082,prior,26,0,20,1.0
2,4,instant foods,12087,Chicken Flavor Ramen Noodle Soup,9,94246,15,0,114082,prior,26,0,20,1.0
3,4,instant foods,47570,Original Flavor Macaroni & Cheese Dinner,9,94246,14,1,114082,prior,26,0,20,1.0
4,13,prepared meals,10089,Dolmas,20,94246,25,0,114082,prior,26,0,20,1.0

交叉表找user_id和aisle之间的关系

In [19]:
table = pd.crosstab(tab3["user_id"], tab3["aisle"])

In [20]:
table.head()

aisle,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,baking ingredients,baking supplies decor,beauty,beers coolers,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,0,3,0,0,0,0,2,0,0,0,...,3,1,1,0,0,0,0,2,0,42
3,0,0,0,0,0,0,0,0,0,0,...,4,1,0,0,0,0,0,2,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

PCA降维

In [21]:
from sklearn.decomposition import PCA

In [22]:
transfer = PCA(n_components=0.95)
table_new = transfer.fit_transform(table)

In [26]:
table_new.shape

(206209, 44)