任务: 
1. 合并列
2. 标准化
3. KV2Table
4. Table2KV

具体参照文档

https://help.aliyun.com/apsara/enterprise/v_3_18_0/learn/user-guide-318/component-reference-data-preprocessing.html?spm=a2c4g.14484438.10001.50

In [2]:
import pandas as pd
import numpy as np

合并列

In [133]:
# 生成DataFrame对象df1与df2作为测试数据
data1 = [[1, 1.1, 2, 2.2, 3]]
data1_columns = ["col0", "col1", "col2", "col3", "col4"]
data2 = [[10, 10.1, 20, 30]]
data2_columns = ["col10", "col11", "col12", "col13"]
df1 = pd.DataFrame(data1, columns=data1_columns)
df2 = pd.DataFrame(data2, columns=data2_columns)

In [193]:
def concat(df1: pd.DataFrame, df2: pd.DataFrame, columns=[]) -> pd.DataFrame:
    """
    对df1与df2进行合并操作
        :param1: 需要合并的DataFrame，合并后处于左边
        :param2: 需要合并的DataFrame，合并后处于右边
        :param3: 合并后的新表头，默认为空即采用原表头

        :return: 合并后的新表，DataFrame类型
    """
    # 合并为res
    res = pd.concat([df1, df2], axis=1)
    # 如果需要进行表头替换
    if columns != []:
        res.columns = columns
    return res

In [40]:
# 测试用
concat(df1, df2, ["a", "b", "c", "d", "e", "f", "g", "h", "i"])

   a    b  c    d  e   f     g   h   i
0  1  1.1  2  2.2  3  10  10.1  20  30

标准化

In [176]:
# 生成DataFrame对象df作为测试数据
data = [["01", 10, 10.1, True, "2016-07-01 10:00:00"], [None, 11, 10.2, False, "2016-07-02 10:00:00"], ["02", None, 10.3, True, "2016-07-03 10:00:00"], 
       ["03", 12, None, False, "2016-07-04 10:00:00"], ["04", 13, 10.4, None, "2016-07-05 10:00:00"], ["05", 14, 10.5, True, None]]
columns = ["col_string", "col_bigint", "col_double", "col_boolean", "col_datetime"]
df = pd.DataFrame(data, columns=columns)

In [218]:
# 对df进行标准化操作
from sklearn.preprocessing import StandardScaler

def Standardize(df: pd.DataFrame) -> (pd.DataFrame, pd.DataFrame):
    """
    对df进行数值标准化操作
        :param1: 需要进行标准化的DataFrame

        :return1: 标准化后的DataFrame
        :return2: 原DataFrame的特征表
    """
    # 数据清洗，提取出数值行
    raw = df.select_dtypes(include=['int', 'double'])
    # 进行标准化并输出
    transfer = StandardScaler()
    mid = transfer.fit_transform(raw)
    raw_feature = []
    # 打印时替换列，并将特征存入raw_feature
    for i in range(0, len(raw.columns)):
        raw_feature.append([raw.columns[i], '{"name" : "standartize", "type" : "%s", "paras" : {"mean" : %.2lf, "std" : %.20lf}}' %(raw.dtypes[i], raw.mean()[i], raw.std()[i])])
        df[raw.columns[i]] = mid[:,i]
    # 格式化feature并输出
    feature = pd.DataFrame(raw_feature, columns=['feature', 'json'])
    return df, feature

In [182]:
# 测试用
df, feature = Standardize(df)
print(df)
print(feature)

  col_string  col_bigint    col_double col_boolean         col_datetime
0         01   -1.414214 -1.414214e+00        True  2016-07-01 10:00:00
1       None   -0.707107 -7.071068e-01       False  2016-07-02 10:00:00
2         02         NaN  4.929390e-15        True  2016-07-03 10:00:00
3         03    0.000000           NaN       False  2016-07-04 10:00:00
4         04    0.707107  7.071068e-01        None  2016-07-05 10:00:00
5         05    1.414214  1.414214e+00        True                 None
      feature                                               json
0  col_bigint  {"name" : "standartize", "type" : "float64", "...
1  col_double  {"name" : "standartize", "type" : "float64", "...

Table2KV

In [183]:
# 生成DataFrame对象df作为测试数据
data = [[1, 1.1, 2], [0, 1.2, 3], [1, 2.3, 4], [1, 0.0, 5]]
data_columns = ["col0", "col1", "col2"]
df = pd.DataFrame(data, columns=data_columns)

In [219]:
# 进行Table2KV的转换
def Table2KV(df: pd.DataFrame) -> (pd.DataFrame, pd.DataFrame):
    """
    对df进行Table2KV操作
        :param1: 需要进行操作的DataFrame

        :return1: 操作后产生的输出，DataFrame类型
        :return2: 原表的特征，包含类名、类索引以及类数据类型
    """
    raw = []
    # 抽取每行，产生kv
    for i in range(0, len(df.values)):
        res = ""
        for j in range(0, len(each)):
            res += str(j) + ":" + str(df.values[i][j]) + ","
        res = res[:-1]
        raw.append([i, res])
    # 通过raw建表，完成输出构建
    output = pd.DataFrame(raw, columns=['rowid', 'kv'])
    # 进行原表特征构建
    data_dict = {
        "col_name" : df.columns.tolist(),
        "col_index" : list(range(len(df.columns))),
        "col_datatype" : df.dtypes.tolist()
    }
    keys = pd.DataFrame(data_dict)
    return output, keys

In [214]:
# 测试用
output, keys = Table2KV(df)
print(output)
print(keys)

   rowid                 kv
0      0  0:1.0,1:1.1,2:2.0
1      1  0:0.0,1:1.2,2:3.0
2      2  0:1.0,1:2.3,2:4.0
3      3  0:1.0,1:0.0,2:5.0
  col_name  col_index col_datatype
0     col0          0        int64
1     col1          1      float64
2     col2          2        int64

KV2Table

In [215]:
# 生成DataFrame对象df作为测试数据
data = [["1:1,2:2,3:-3.3"], ["1:10,2:20,3:-33.3"]]
data_columns = ["kv"]
df = pd.DataFrame(data, columns=data_columns)

In [290]:
from decimal import Decimal

def KV2Table(df: pd.DataFrame) -> (pd.DataFrame, pd.DataFrame):
    """
    对df进行KV2Table操作
        :param1: 需要进行操作的DataFrame

        :return1: 操作后产生的输出，DataFrame类型
        :return2: 包含列名和列索引以及列数据类型的映射关系表
    """
    # 对原始数据进行分隔处理，以逗号作为分隔符
    data_dict = {}
    flag = {}
    for each in df.values:
        raw = each[0].split(",")
        # 对flag进行初始化，将所有已经存在的flag的值置为False
        for key, value in flag.items():
            flag.update({key : False})
        # 对raw进行操作，冒号分隔，冒号前为列索引，冒号后为数值
        for i in raw:
            kv_name = "kv_" + i.split(":")[0]
            if kv_name not in data_dict:
                data_dict[kv_name] = []
                # 对于每行数据，初始化时采用flag标定，保证同样的键值进行加和
                flag[kv_name] = False
            if flag[kv_name] == True:
                data_dict[kv_name][-1] += float(i.split(":")[1])
            elif flag[kv_name] == False:
                data_dict[kv_name].append(float(i.split(":")[1]))
                flag[kv_name] = True
    # 最后采用DataFrame进行输出
    res_df = pd.DataFrame(data_dict)
    # 根据col_name反构建col_index
    cols = []
    for columns in res_df.columns:
        cols.append(Decimal(columns.replace("kv_", "")))
    # 构建输出映射表
    x_data = {
        "col_name" : res_df.columns,
        "col_index" : cols,
        "col_type" : res_df.dtypes.tolist()
    }
    x_df = pd.DataFrame(x_data)
    return res_df, x_df

In [291]:
# 测试用
res_df, x_df = KV2Table(df)
print(res_df)
print(x_df)

   kv_1  kv_2  kv_3
0   1.0   2.0  -3.3
1  10.0  20.0 -33.3
  col_name col_index col_type
0     kv_1         1  float64
1     kv_2         2  float64
2     kv_3         3  float64